{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    <title>Оформить заказ</title>
{% endblock %}


{% block 'content' %}

    {% if user.is_authenticated %}
    <!-- /header -->
    <div class="main-content space-padding-tb-70">
        <div class="container">
            <br>
            <form name="checkout" method="post" class="checkout" action="{% url 'make_order' %}">
                {% csrf_token %}
                <div class="cart-box-container-ver2">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Детали заказа</h3>
                            <hr>
                            <div class="row form-customer">
                                <div class="form-group col-md-6">
                                    <label for="inputfname_2" class=" control-label">Имя *</label>
                                    <input type="text" id="inputfname_2" class="form-control form-account" name="first_name" value="{{ user.first_name }}" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputlname" class=" control-label">Фамилия *</label>
                                    <input type="text" id="inputlname" class="form-control form-account" name="last_name" value="{{ user.last_name }}" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputcompany" class=" control-label">Отчество *</label>
                                    <input type="text" id="inputcompany" class="form-control form-account" name="second_name" value="{{ user.second_name }}" placeholder="Необязательно">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputemail" class=" control-label">Email *</label>
                                    <input type="email" id="inputemail" class="form-control form-account" placeholder="example@gmail.com" value="{{ user.email }}" name="email" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputphone" class=" control-label">Номер телефона *</label>
                                    <input type="text" id="inputphone" class="form-control form-account" placeholder="+996" value="{{ user.phone }}" name="phone">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">Регион *</label>
                                    <select name="region" class="country form-control form-account">
                                        <option>Бишкек</option>
                                        <option>Талас</option>
                                        <option>Ыссык-кол</option>
                                        <option>Нарын</option>
                                        <option>Ош</option>
                                        <option>Жалал-Абад</option>
                                        <option>Баткен</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputstreet" class=" control-label">Адрес *</label>
                                    <input type="text" id="inputstreet" class="form-control form-account" name="address" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputpostcode" class=" control-label">Дом *</label>
                                    <input type="text" id="inputpostcode" class="form-control form-account" name="home" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputfState" class=" control-label">Квартира *</label>
                                    <input type="text" id="inputfState" class="form-control form-account" name="apartment" placeholder="Необязательно">
                                </div>
                            </div>
                            <h3>Способ получения</h3>
                            <div class="row form-customer">
                                <div class="form-check col-md-12">
                                    <label class="form-check-label ver2">
                                        <input type="radio" class="form-check-input" name="delivery" value="Самовывоз">
                                        <span>Самовывоз</span>
                                    </label><br>
                                    <label class="form-check-label ver2">
                                        <input type="radio" class="form-check-input" name="delivery" value="Доставка">
                                        <span>Доставка</span>
                                    </label>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="inputfState" class=" control-label">Комментарии к заказу</label>
                                    <textarea name="message" rows="5" id="message" class="form-control form-note" placeholder="Прикрепите сообщение к заказу."></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- End contact-form -->

                        <div class="col-md-4">
                            <h3>Ваша корзина</h3>
                            <div class="cart-list">
                                <ul class="list">
                                    {% for product in cart %}
                                        <li class="flex">
                                            <a href="#" title="" class="cart-product-image"><img src="{{ product.product.main_image.url }}" alt="Product"></a>
                                            <div class="text">
                                                <p class="product-name">{{ product.product.name }}</p>
                                                <div class="quantity">x{{ product.total_count }}</div>
                                                <p class="product-price">{{ product.total_price }} сом</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <h3>Сумма</h3>
                            <div class="text-price">
                                <ul>
                                    <li><span class="text">Итого: </span><span class="number">{{ total_price }} сом</span></li>
                                </ul>
                            </div>

                            <input type="submit" class="btn link-button hover-white btn-checkout" value="Оформить">
                            <br><br>
                            <i>"Оформите заказ и мы свяжемся с вами"</i>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% else %}
        <br><br><br><br><br>
        <div class="main-content text-center empty-cart-content space-padding-tb-60">
            <div class="container">
                <span class="close-empty-cart"></span>
                <h3>Что-то пошло не так :(</h3>
                <a href="{% url 'home' %}" class="bordersolid-2 btn-return">Главная <span class="icon-arr"></span></a>
            </div>
        </div>
    {% endif %}

    <button class="scroll_top">Вверх<span></span></button>
{% endblock %}